{% extends 'shop/basic.html' %}
{% block title %} {{product.product_name}} -- My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
       <img src="/media//{{product.image}}" width="200px" height="300px">
        <div class="row">
            <button class="btn btn-primary mx-2"> Buy Now</button>
            <button class="btn btn-primary mx-2 "> Add To Cart</button>
        </div>
    </div>
        </div>
       <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b> Rs. {{product.price}}</b></p>
        <p>{{product.desc}}</p>
    </div>

    </div>
</div>
{% endblock %}